<!DOCTYPE html>
<html>
  <head>
    <title>Poll Test App</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css" rel="stylesheet" media="screen">
    <script src='http://code.jquery.com/jquery-1.8.2.min.js'></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js"></script>
    <script src='/socket.io/socket.io.js'></script>
    <script type='text/javascript'>
      var socket = io.connect("http://localhost:8085");
      socket.on('vote', function(data) {
        var polls = $('#polls')
        var keyword = data.keyword.replace(/([#])/g,'\\$1');
        if (polls.find($('#'+keyword)).length == 0) {
          polls.append($('<div id="'+data.keyword+'">')).addClass("poll");
          var poll = $('#'+keyword);
          var rv = poll.append('<h2>'+data.keyword+'</h2>');
        }

        var poll = $("#"+keyword);

        var opt = data.option;
        if (poll.find($("#"+opt)).length == 0) {
          poll.append($('<div id="'+data.option+'">')).addClass("option");
        }

        var optSel = $("#"+data.option);
        optSel.text(opt + ": "+data.count);
      });


      function checkIfTextExists() {
        var lastInput = $(".lastoption");
        if (lastInput.val().length > 0) {
          $("#next").replaceWith('<input type="text" name="option" class="lastoption" onChange="checkIfTextExists();" placeholder="Add an Option"><div id="next"></div>');
        }
        lastInput.removeClass("lastoption");
      }

      function submitForm() {
        var data = $('#pollAdd').serialize();
        $.post('/track', data).success(function() {
          $('#feedback').append('<div class="alert"><button type="button" class="close" data-dismiss="alert">x</button>Poll Successfully Added.</div>');
          $('#formKeyword').val('');
          $('#options').replaceWith('\
          <div id="options">\
            <input type="text" name="option" class="lastoption" onChange="checkIfTextExists();" placeholder="Add an Option">\
            <div id="next"></div>\
          </div>\
          ');
        });
        return false;
      }
    </script>
    <style>
      body { padding-top: 60px; }
    </style>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">IPL Poll Demo</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class='container'>
      <div class='row'>
        <div class="span3">
          <div id='feedback'/></div>
          <form id='pollAdd'>
            <fieldset>
              <legend>Add a Poll</legend>
              <input type="text" id="formKeyword" name="keyword" placeholder="Twitter Keyword">
              <div id="options">
                <input type="text" name="option" class="lastoption" onChange="checkIfTextExists();" placeholder="Add an Option">
                <div id="next"></div>
              </div>
              <button type='button' class="btn" onclick='submitForm()'>Add Poll</button>
            </fieldset>
          </form>
        </div>
        <div class="span9">
          <h1>Polls</h1>
          <div id='polls'></div>
        </div>
      </div>
    </div>
  </body>
</html>
